<template name="post">
  <div class="row">
    <div class="col-sm-3 gray">
      <span class="glyphicon glyphicon-user" ></span>
      Posted by <small>{{user}} <br> {{livestamp date}}</small>
    </div>

    <div class="col-sm-7">
      <h4>{{post}}
        {{#if userLoggedIn}}
          <a name="btnLike" href="#" class="label label-primary label-as-badge">{{likedText}}</a>
        {{/if}}
        {{#if ownPost}}
          <a name="btnRemove" href="#" class="label label-primary label-as-badge">x</a>
        {{/if}}
      </h4>

      {{#if likesCount}}
        <i class="glyphicon glyphicon-thumbs-up navy"></i>
        <small>{{likesCount}}</small>
      {{/if}}

      {{#if commentsCount}}
        <i class="glyphicon glyphicon-comment navy"></i>
        <small>{{commentsCount}}</small>
      {{/if}}

      <hr/>

      {{#each comments}}
        {{> comment}}
      {{/each}}

      {{#if userLoggedIn}}
      <div class="input-group comment">
        <input type="text" class="form-control" placeholder="create a comment">
        <span class="input-group-btn">
          <button class="btn btn-primary">Submit</button>
        </span>
      </div>
      {{/if}}
      <hr/>
    </div>
  </div>
</template>

<template name="comment">
  <div class="comment">
    <i class="glyphicon glyphicon-comment navy"></i>
    <i>{{comment}}
      <small class="gray"> by {{user}} {{livestamp date}}</small>
    </i>
    {{#if ownComment}}
      <a name="btnRemoveComment" href="#" class="label label-primary label-as-badge">x</a>
    {{/if}}
  </div>
</template>
