<template name="posts">
  <div class="container">
    <div class="page-header">
      <h1>
        Welcome to Meteor Stream
        <h4 class="pull-right">{{> loginButtons}}</h4>
      </h1>
    </div>
    {{#if user}}
      <div class="row">
        <h4 class="col-sm-3">Post something cool</h4>
        <div class="input-group col-sm-7">
          <input type="text" class="form-control" name="post" placeholder="create a post">
          <span class="input-group-btn">
            <button class="btn btn-primary" name="submit-post">Submit</button>
          </span>
        </div>
      </div>
      <hr/>
    {{/if}}
    {{#each posts}}
      {{> post}}
    {{/each}}
  </div>
</template>
